name: Docker Image Production

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    
    steps:
      - uses: actions/checkout@v4 # clone your repository into the runner
        with:
          fetch-depth: 0

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker image with BuildX
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/472-cicd:latest
          build-args: |
            NEXT_PUBLIC_STUDENT_ID=6610402060
      
  deploy:
    needs: build
    runs-on: self-hosted # self-hosted runner in your machine
    environment: production
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: show kube context
        run: | 
          kubectl config current-context
          kubectl get nodes
      
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          
          kubectl rollout restart deployment/472-cicd
          kubectl rollout status deployment/472-cicd